/0618_해커톤OT.pdf
/combine_data.csv
/data augmentation (1).ipynb
/data augmentation.ipynb
/dataset
/KakaoTalk_20240701_223856111.jpg
/Rectangle.png
/right_data_augmented
/right_data_augmented.zip
/가이드북실습.ipynb
/머신비전AI데이터셋_이미지.pdf
/용해
/자원최적화AI데이터셋_시계열.pdf
/제조데이터해커톤